* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header{
    padding: 16px 0;
    background-color: #00000A;
    color: #8f00ff;
    font-size: 2em;
    border-bottom: 18px solid #00ffff;
}

header img{
    width: 76px;
    height: 100px;
    margin-right: 10px;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cell{
    display: none;
}

.nome-dcg {
    font-size: 1.5em;
    font-weight: bold;
    background: linear-gradient(to right, #00ffff, #8f00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 0 0 10px #00ffff99;
    margin: 0;
}

.logo-area {
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-area{
    display: flex;
    align-items: center;
    gap: 8px;
}

.menu-area a{
    color: #8f00ff;
    text-transform: 0 0 4px #00ffff;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: bold;
    transition: 0.3s;
}

.menu-area a:hover {
    color: #00ffff;
}

.anti{
    background: linear-gradient(180deg, #0f001a, #1a0033);
}

.conteudo{
    display: grid;
    grid-template-columns: 70% 30%;
    background: linear-gradient(180deg, #0f001a, #1a0033);
}

.noticia img{
    max-width: 100%;
}

.destaque{
    margin-bottom: 56px;   
    padding-top: 50px;
}

.destaque .noticia a{ 
    display: flex;
    font-display: flex;
    color: #ffffff;
    text-shadow: 0 0 4px #00ffffaa;
    font-size: 1em;
    text-decoration: none;    
}

.destaque .noticia img{
    width: 360px;
    height: 360px;
    margin-right: 8px;
}

.destaque a img {
    max-width: 400px;
    width: 100%;
    height: auto;;
    border-radius: 10px;
    border: 3px solid #00ffff; 
    box-shadow: 0 0 25px #00ffff, 0 0 50px #8f00ff;
    transition: 0.3s;
}


section h2{
    margin-bottom: 32px;
    color: #00ffff;
    text-shadow: 0 0 8px #00ffffff;
    font-size: 2.5em;
    font-weight: bold;
}

aside{
    padding-left: 40px;
    margin-top: 56px;
}

aside .noticia{
    margin-bottom: 24px;
}

aside .noticia img{
    border-radius: 10px;
    border: 3px solid #00ffff;
    box-shadow: 0 0 20px #00ffff, 0 0 30px #8f00ff;
    transition: 0.3s;
    object-fit: cover;
}

aside .noticia a{
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    font-size: 1em;
    text-shadow: 0 0 4px #00ffffaa;
}

.futuro{
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    column-gap: 1%;
}

.futuro .noticia img {
    display: block;
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 3px solid #00ffff;
    box-shadow: 0 0 20px #00ffff, 0 0 30px #8f00ff;
    transition: 0.3s;
    object-fit: cover;
}

.futuro .noticia h3 {
    text-align: center;
    color: #ffffff;
    margin-top: 10px;
    font-size: 1em;
    text-shadow: 0 0 4px #00ffffaa;
    margin: 16px;
}

.botao-menu{
    display: none;
}

@media screen and (max-width: 767px) {
    .conteudo{
        display: block;
    }

    .container{
        max-width: 90%;
    }

    header div.container{
        flex-direction: column;
    }

    .menu-area {
        display: none;
        flex-direction: column;
        align-items: center;
        gap: 8px;
    }

    .menu-area a{
        text-decoration: none;
        font-size: 0.8em;
        font-weight: bold;
        transition: 0.3s;
    }

    .desktop{
        display: none;
    }

    .cell{
        display: inline;
    }

    .destaque .noticia a{ 
        display: block;
        color: #ffffff;
        text-shadow: 0 0 4px #00ffffaa;
        font-size: 1em;
        text-decoration: none;    
    }   
    
    .destaque .noticia img{
        margin-right: 0px;
    }

    .futuro{
        display: block;
        column-gap: 1%;
        row-gap: 5%;
    }

    .futuro .noticia{
        margin-bottom: 32px;
    }
    
    aside{
        padding-left: 0px;
    }

    aside .noticia a h3{
        padding: 15px;
        margin-top: 5px;
    }

    aside .noticia {
        margin-bottom: 0;
    }

    header div.container{
        flex-direction: column;
    }
    
    .botao-menu {
        display: flex;
        justify-content: center;
        margin-top: 16px;
        border: 2px solid #00ffff;
        
    }

    .botao-menu button{
        padding: 8px;
        color: #00ffff;
        background-color: #8f00ff;
    }

    .botao-menu:hover{
        box-shadow: 0 0 16px #00ffff88;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .container{
        max-width: 90%;
    }

    .botao-menu{
        display: none;
    }

    .destaque .noticia{
        display: block;
        font-size: 1em;
    }
    .destaque .noticia img{
        width: 360px;
        height: 360px;
    }

    .futuro{
        grid-template-columns: repeat(2, 49%);
    }
}